.page-wrapper {
  padding: 24px;
  background-color: #212121;
  border-radius: 16px
}

.filter-bar {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  max-width: 600px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 24px;
}

/* ===== UIverse glass card ===== */

.container {
  color: white;
  position: relative;
  font-family: sans-serif;
}

.container::before,
.container::after {
  content: "";
  background-color: #fab5704c;
  position: absolute;
}

.container::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}

.container::after {
  height: 3rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
}

.box {
  width: 11.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease 0.3s;
}

.box:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border-color: rgba(255, 255, 255, 0.454);
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.box div strong {
  display: block;
  margin-bottom: 0.5rem;
}

.box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.box div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

.char-image {
  height: 90px;
  object-fit: contain;
  margin: 0 auto;
}

.pagination-wrapper {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
